.slide-fade {
  &-move,
  &-enter-active,
  &-leave-active {
    transition: all 0.4s ease-out;
  }
  
  &-enter-from {
    opacity: 0;
    transform: translateY(100px);
  }
  
  &-leave-to {
    opacity: 0;
    transform: translateY(100px);
  }
}

.blur {
  &-enter-active {
    transition: all 1s ease-out;
  }
  &-leave-active {
    transition: all 0s ease-out;
  }

  &-enter-to,
  &-leave-from {
    backdrop-filter: blur(5px);
  }
  &-enter-from,
  &-leave-to {
    backdrop-filter: blur(0px);
  }
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-1deg); }
  20% { transform: rotate(1deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(-1deg); }
  50% { transform: rotate(1deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-1deg); }
  80% { transform: rotate(1deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-1deg); }
}

@keyframes flicker {
  0% { box-shadow: inset -10px -10px 30px -10px var(--btn_hover_bg); }
  25% { box-shadow: inset 10px -10px 30px -20px var(--btn_hover_bg); }
  50% { box-shadow: inset 10px 10px 30px -10px var(--btn_hover_bg); }
  75% { box-shadow: inset -10px 10px 30px -20px var(--btn_hover_bg); }
  100% { box-shadow: inset -10px -10px 30px -10px var(--btn_hover_bg); }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}